/* need to adjust root */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Nav bar styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background-color: black;
  padding: 0.5rem;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 1rem;
}

nav ul li ::before {
  content: '|';
  margin-right: 1rem;
}

nav ul li :hover {
  color: red;
}

nav ul li :active {
  color: blue;
  text-decoration: underline;
}

nav a {
  text-decoration: underline;
  color: green;
}


