/* need to adjust root */
#root {
  /* max-width: 1280px; */
  margin-top: 50px;
  /* padding: 2rem; */
  text-align: center;
}

/* Nav bar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* width: 100%; */
  background-color: #333;
  color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1280px; */
  margin: 0;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 1rem;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links li a:hover {
  color: #f00;
  transition: color 0.3s ease;
}

.nav-links li a.active {
  color: #ff0;
  text-decoration: underline;
}

.nav-links li ::before {
  content: '|';
  margin-right: 1rem;
}

.nav-icons {
  position: fixed;
  list-style: none;
  float: right;
  top: 24px;
  right: 0;
  padding-right: 20px;
}
.nav-icons li {
  display: inline;
  margin-right: 2rem;
}

.nav-icons li a {
  color: #fff;
  transition: color 0.3s ease;
}

.nav-icons li a:hover {
  /* invert color if desired */
  /* filter: invert(100%);  */
  color: #000;
  background-color: #fff;
  border-radius: 50%;
}

/* main content styling */
.main-content {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* review styling */
.review-content {
  margin-top: 75px;
}
.reviews-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
.reviews {
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 1rem;
  margin-bottom: 1rem;
  list-style: none;
  text-align: left;
  width: 100%;
  z-index: -1;
}

/* footer styling */
.footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  margin-bottom: 15px;
}

.footer ul {
  padding: 0;
}

.footer-links {
  margin: 0;
  padding: 0 15px 0 0;
  list-style: none;
}


.footer li {
  display: inline;
  margin-right: 1rem;
  list-style: none;
}

.footer li ::before {
  content: '|';
  margin-right: 1rem;
}

.footer li a {
  color: #fff;
}

.footer li a:hover {
  color: yellow;
  transition: color 0.3s ease;
}